@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="contactDiv" class="row">
    <input id="nameInput" type="text" name="Name" value="" class="form-control"/>
    <a id="getBtn" class="btn btn-primary">Test GET Request</a>
    <h2 id="resultDiv"></h2>
</div>



@section scripts
{
    <script>
        // 1 LOAD
        //$("#contactDiv").load("/Home/Contact");

        // 2. GET
        //$("#getBtn").click(function () {

        //    var currentName = $("#nameInput").val();

        //    $.ajax({
        //        type: "GET",
        //        url: "/Home/GetData",
        //        contentType: "application/json",
        //        dataType: "text",
        //        data: { name: currentName},
        //        success: function (result) {
        //            $("#resultDiv").text(result);
        //        },
        //        error: function() {
        //            alert("Error");
        //        }
        //    });

        //    //$.get("/Home/GetData", { name : "Nurbolat"}, function(result) {
        //    //    $("#resultDiv").text(result);
        //    //});
        //});

        // 3. POST

    </script>
}
